<div class="menu">
	<ul>
		<li><%= link_to 'Home', ccsf_rails_index_path(@index) %></li> | 
		<li><%= link_to 'About', ccsf_rails_about_path(@about) %></li> |
		<li><%= link_to 'Links', ccsf_rails_links_path(@links) %></li>
	</ul>
</div>

<div class="welcome">
	<h1>Welcome!</h1>
	<p>to Bill's first Ruby on Rails website!</p>
	<p>Here's a test link: <a href="http://www.google.com">Google</a></p>

</div>


<div id="footer">
		<%= link_to 'Home', ccsf_rails_index_path(@index) %> | <%= link_to 'About', ccsf_rails_about_path(@about) %> | <%= link_to 'Links', ccsf_rails_links_path(@links) %>

</div>